*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
  
    font-family: 'Merienda One', cursive;

}

  header{
    min-height: 18vh;
     background: #734a91;
     /*#79589F*/
  }
  .logo{
    height: 90px;
    width:195px;
    object-fit: cover;
  }
  main{
    min-height: 52vh;
    background-color:  #f7e8ff;
  }
.login-box{
    position: relative;
    width: 400px;
    height: 400px;
    /*background-color:transparent;*/
    background-image: linear-gradient(
    45deg,
    hsl(284deg 39% 89%) 0%,
    hsl(287deg 48% 89%) 10%,
    hsl(290deg 57% 90%) 20%,
    hsl(293deg 66% 90%) 30%,
    hsl(297deg 74% 90%) 40%,
    hsl(300deg 81% 90%) 50%,
    hsl(290deg 78% 89%) 60%,
    hsl(281deg 73% 89%) 70%,
    hsl(272deg 68% 88%) 80%,
    hsl(264deg 62% 88%) 90%,
    hsl(256deg 56% 87%) 100%
    );    
    border: 2px solid  #572155;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
h2, h1{
    color: white;
}
h3{
    font-size: 2em;
    color:  #572155;
    text-align: center;
}
.colorClientList{
    color: #572155;
}
.input-box{
    position:relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid  #572155
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:  #572155;
    pointer-events: none;
    transition: .5s ;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#572155;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color:  #572155;
    font-size: 1.2em;
    line-height: 57px;
}
.buttonForm{
    width: 100%;
    height: 40px;
    background: #fff;
    border-color:  #572155;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color:  #572155;
    font-weight: 500;
}
.sizeJs{
    height: 400px;
    background-color:rgb(204, 198, 198);
    opacity: 0.9;
    color: #572155;
    border-radius: 10px;
    border-color: #572155;
}
.transactionColor{
    color: red;
}
.managerImage{
    height: 570px;
    width: 570px;
    object-fit: cover;
}
footer{
    min-height: 30vh;
     background: #734a91;
     font-family: 'Merienda One', cursive !important;
}
.text_footer{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.473);
}
.social{
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .social li{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.473);
    }
    .social a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.473);
    }
    
    .text_footer{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.473);
    }
@media (min-width:320px) and (max-width:1000px){
    .sizeResponsive{
        display:flex;
        flex-direction:column;
        align-items: center;
        
    }
    .sizeJs{
     font-size: 10px;
     width: 320px;
     height: auto;

    }
    .login-box{
        width: 320px;
        height: 340px;
        justify-content: center;
    align-items: center;
    }
    .buttonForm{
        width: 90%;
        height: 35px;
    }
    .input-box{
        width: 310px;
        margin: 20px 0;
    }
    .resposiveG{
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
    .colorClientRest{
        color: #572155;
    }
}
@media (max-width:550px) {
    .customerCards{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 616px) {
    .horario{
    font-size: 0.9rem;
    width: 10rem;
    }
    .redes{
    margin-right: 1rem;
    }
    .horarioC{
    margin-left: 1rem;
    }
    .text_footer{
    font-size: 1rem;
    width: 4rem;
    }
    .social{
    padding: 0;
    }
    .social a{
    font-size: 0.9rem;
    }
    }
@media only screen and (max-width: 569px) {
    .managerImage{
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
}