<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/92e84a8749.js" crossorigin="anonymous"></script>
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>     
    <link rel="stylesheet" href="./css/styleAccounts.css">
    <title>Account</title>
</head>
<body>
    <!--<header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand " href="#">
                    <img class="nav_logo logo" src="./img/image.png" alt="Logo"  /></a>
                <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center "
                    id="navbarNav">
                    <div class="navbar-nav nav_a d-flex align-items-center">
                
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main id="app">
        <h1 class="colorTitles text-center">Account</h1>
        <div class="container infoAccountTransactions">
            <div class="d-flex">
                    <img src="./img/icons8-introducir-pin-64.png" alt="">
                    <div class="d-flex">
                    <h6 >Account Number: {{account.number}}</h6>
                    
                    </div>
            </div>
            <div class="d-flex">
                    <img src="./img/icons8-horas-extras-64.png" alt="">
                    <h6>Create Date: {{account.creationDate}}</h6>
                    
            </div>
            <div class="d-flex">
                    <img src="./img/icons8-libro-mayor-64.png" alt="">
                    <h6>Balance: {{account.balance}}</h6>
            
           </div>  
        </div>

        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered table- table-hover align-middle table-secondary">
                            <thead>
                            <tr>
                                <th class="col-1">Id</th>
                                <th class="col-2">Type</th>
                                <th class="col-3">Amount</th>
                                <th class="col-3">Description</th>
                                <th class="col-3">Data</th>
                            </tr>
                            </thead>
                            <tbody class="table-light" v-for="transaction of transactions">
                            <tr  v-bind:class=" transaction.type==='DEBIT' ? 'transactionColor text-danger' : 'transactionColor text-success'">
                                    <td>{{transaction.id}}</td>
                                    <td >{{transaction.type}}</td>
                                    <td>{{transaction.amount}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td>{{transaction.data}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="d-flex justify-content-evenly flex-wrap pt-5">
        <section class="d-flex flex-column justify-content-start mt-3 redes">
            <h4 class="text_footer d-flex align-self-center">Social networks</h4>
            <ul class="social d-flex align-items-start flex-column">
                <li class="fa-brands fa-instagram">
                    <a href="https://www.instagram.com">Instagram</a>
                </li>
                <li class="fa-brands fa-facebook">
                    <a href="https://www.facebook.com">Facebook</a>
                </li>
                <li class="fa-brands fa-whatsapp">
                    <a href="https://www.whatsapp.com">Whatsapp</a>
                </li>
                <li class="fa-brands fa-youtube">
                    <a href="https://youtube.com">Youtube</a>
                </li>
            </ul>
        </section>
        <section class="d-flex flex-column align-items-center justify-content-start horarioC">
            <ul class="social d-flex align-items-start flex-column" style="list-style: none;">
                <h4 class="text_footer d-flex">location</h4>
                <li><h5 class="horario"> Address: Cl. 36 #7 - 47.</h5></li>
                <li><h5 class="horario"> Schedule: <br> Monday to Friday: 7:00 to 19:00. <br>
                    Saturday: 8:00 to 17:00. <br> Sunday: 9:00 to 13:00</h5></li>
            </ul>
        </section>
    </footer>-->
    <!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a>
	<ul class="side-menu top ">
			<li class="active">
				<a href="./accounts.html">
					<i class='bx bxs-credit-card-alt'></i>
					<span class="text">Accounts</span>
				</a>
			</li>
			<li>
				<a href="./cards.html">
					<i class='bx bx-wallet'></i>
					<span class="text">Cards</span>
				</a>
			</li>
			
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
		
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/icons8-user-default-64.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main id="app">
            <h1 class="colorTitles text-center">Account</h1>
            <div class="container infoAccountTransactions">
                <div class="d-flex">
                        <img src="./img/icons8-introducir-pin-64.png" alt="">
                        <div class="d-flex">
                        <h6 >Account Number: {{account.number}}</h6>
                        
                        </div>
                </div>
                <div class="d-flex">
                        <img src="./img/icons8-horas-extras-64.png" alt="">
                        <h6>Create Date: {{account.creationDate}}</h6>
                        
                </div>
                <div class="d-flex">
                        <img src="./img/icons8-libro-mayor-64.png" alt="">
                        <h6>Balance: {{account.balance}}</h6>
                
               </div>  
            </div>
    
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-bordered table- table-hover align-middle table-secondary">
                                <thead>
                                <tr>
                                    <th class="col-1">Id</th>
                                    <th class="col-2">Type</th>
                                    <th class="col-3">Amount</th>
                                    <th class="col-3">Description</th>
                                    <th class="col-3">Data</th>
                                </tr>
                                </thead>
                                <tbody class="table-light" v-for="transaction of transactions">
                                <tr  v-bind:class=" transaction.type==='DEBIT' ? 'transactionColor text-danger' : 'transactionColor text-success'">
                                        <td>{{transaction.id}}</td>
                                        <td >{{transaction.type}}</td>
                                        <td>{{transaction.amount}}</td>
                                        <td>{{transaction.description}}</td>
                                        <td>{{transaction.data}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		</main>
		<footer>
			<p>Hoal esto es un ejemplo</p>
		</footer>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/menu.js"></script>
    <script src="./js/account.js"></script>
</body>
</html>