<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
          <script src="https://kit.fontawesome.com/92e84a8749.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet"> 
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="./css/cards.css">
    <title>Accounts</title>
</head>
<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid ">
              <a class="navbar-brand d-flex align-items-center" href="#">
                  <img class=" logoHeader " src="./img/MLogo-removebg-preview.png" alt="Logo"/>
                  <p class="titleMB px-2"> Mindhub Brothers</p>
              </a>
              <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end align-items-center"
                  id="navbarNav">
                  <div class="navbar-nav nav_a d-flex align-items-center">
                      <a class="nav-link estileA" href="./accounts.html">Accounts</a>
                      <a class="nav-link estileA" href="./cards.html">Cards</a>
                      <a class="nav-link estileA" href="./transfers.html">Transfers</a>
                      <a class="nav-link estileA"type="button" @click="logOut">Sign out</a>
                  </div>
              </div>
          </div>
      </nav>
  </header>
    <main >
      <div class="d-flex justify-content-center flex-wrap">
        <a class="buttonCreateCard" href="./create-cards.html" v-show="cards.length<6">Create Card</a>
        <a class="buttonCreateCard" href="./delete-cards.html" v-show="cards.length>=1">Delete Card</a>
      </div>
      <div class="d-flex justify-content-evenly parentCardContainer">
      <div class="d-flex flex-column ">
      <h2 class="titlesCardsDC pt-3 pb-3">Credit Cards</h2>
      <template v-if=" cardsCredit.length">
        <div class="center">
          <div class="cardT  colorCards justify-content-evenly spaceCard" v-for="card of  cardsCredit">
            <div class="flip ">
              <div class="front" >
                <div class="strip-bottom" v-bind:class="card.color"></div>
                <div class="strip-top" v-bind:class="card.color"></div>
                <svg class="logo" width="40" height="40" viewbox="0 0 17.5 16.2">
                  <path d="M3.2 0l5.4 5.6L14.3 0l3.2 3v9L13 16.2V7.8l-4.4 4.1L4.5 8v8.2L0 12V3l3.2-3z" fill="white"></path>
                </svg>
                <div class="investor">Mindhub Brothers</div>
                <div class="chip">
                  <div class="chip-line"></div>
                  <div class="chip-line"></div>
                  <div class="chip-line"></div>
                  <div class="chip-line"></div>
                  <div class="chip-main"></div>
                </div>
                <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787" fill="white">
                  <path d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z"></path>
                  <path d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z"></path>
                  <path d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z"></path>
                </svg>
                <div class="cardT-number"> 
                  <div class="section">{{card.number[0]}}</div>
                  <div class="section">{{card.number[1]}}</div>
                  <div class="section">{{card.number[2]}}</div>
                  <div class="section">{{card.number[3]}}</div>
                </div>
                <div class="end"><span class="end-text">End:</span><span class="end-date">{{card.thruDate}}</span></div>
                <div class="cardT-holder">mr {{card.cardHolder}}</div>
                <div class="master">
                  <div class="circle master-red"></div>
                  <div class="circle master-yellow"></div>
                </div>
              </div>
              <div class="back">
                <div class="strip-black"></div>
                <div class="ccv">
                  <label>ccv</label>
                  <div>{{card.cvv}}</div>
                </div>
                <div class="terms">
                  <p>This card is property of Mindhub Bank, Wonderland. Misuse is criminal offence. If found, please return to Monzo Bank or to the nearest bank with MasterCard logo.</p>
                  <p>Use of this card is subject to the credit card agreement.</p>
                </div>
              </div>
            </div>
            <template v-if="actualDate> card.thruDate ">
              <div class="divmessageCard">
                <h6>This Card expired </h6>
              </div>
            </template>  
          </div>
        </div>
        
      </template>
      <template v-else-if="loading">
        <h6 class="text-center colorTitles">loading...</h6>
    </template>
    <template v-else>            
      <div class="container d-flex justify-content-center pb-5">
       <div class="notifications-container">
         <div class="success">
           <div class="flex">
             <div class="flex-shrink-0">
               <img class="iconCards" src="./img/icons8-parte-trasera-de-tarjeta-bancaria-48.png" alt="icon-Cards">
             </div>
             <div class="success-prompt-wrap">
               <p class="success-prompt-heading">Credit Cards
               </p><div class="success-prompt-prompt ">
                 <p>you do not have a credit card. If you wish, please contact our consultants to acquire one.</p>
               </div>
               
             </div>
           </div>
         </div>
       </div>
      </div>
   </template>
  </div>

  <div class="d-flex flex-column">
   <h2 class="titlesCardsDC pt-3 pb-3">Debit Cards</h2>
      <template  v-if=" cardsDebit.length">
        <div class=" ">
        <div class="center  ">
          <div class="cardT spaceCard" v-for="card of  cardsDebit">
            <div class="flip">
              <div class="front" >
                <div class="strip-bottom" v-bind:class="card.color"></div>
                <div class="strip-top" v-bind:class="card.color"></div>
                <svg class="logo" width="40" height="40" viewbox="0 0 17.5 16.2">
                  <path d="M3.2 0l5.4 5.6L14.3 0l3.2 3v9L13 16.2V7.8l-4.4 4.1L4.5 8v8.2L0 12V3l3.2-3z" fill="white"></path>
                </svg>
                <div class="investor">Mindhub Brothers</div>
                <div class="chip">
                  <div class="chip-line"></div>
                  <div class="chip-line"></div>
                  <div class="chip-line"></div>
                  <div class="chip-line"></div>
                  <div class="chip-main"></div>
                </div>
                <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787" fill="white">
                  <path d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z"></path>
                  <path d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z"></path>
                  <path d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z"></path>
                </svg>
                <div class="cardT-number"> 
                  <div class="section">{{card.number[0]}}</div>
                  <div class="section">{{card.number[1]}}</div>
                  <div class="section">{{card.number[2]}}</div>
                  <div class="section">{{card.number[3]}}</div>
                </div>
                <div class="end"><span class="end-text">End:</span><span class="end-date">{{card.thruDate}}</span></div>
                <div class="cardT-holder">mr {{card.cardHolder}}</div>
                <div class="master">
                  <div class="circle master-red"></div>
                  <div class="circle master-yellow"></div>
                </div>
              </div>
              <div class="back">
                <div class="strip-black"></div>
                <div class="ccv">
                  <label>ccv</label>
                  <div>{{card.cvv}}</div>
                </div>
                <div class="terms">
                  <p>This card is property of Mindhub Bank, Wonderland. Misuse is criminal offence. If found, please return to Monzo Bank or to the nearest bank with MasterCard logo.</p>
                  <p>Use of this card is subject to the credit card agreement.</p>
                </div>
              </div>
            </div>
            <template v-if="actualDate> card.thruDate ">
              <div>
                <h6>This Card expired </h6>
              </div>
            </template> 
          </div>
        </div>
        </div>
      </template>
      <template v-else-if="loading">
        <h6 class="text-center colorTitles">loading...</h6>
    </template>
    <template v-else>            
      <div class="container d-flex justify-content-center pb-5">
       <div class="notifications-container">
         <div class="success">
           <div class="flex">
             <div class="flex-shrink-0">
               <img class="iconCards" src="./img/icons8-parte-trasera-de-tarjeta-bancaria-48.png" alt="icon-Cards">
             </div>
             <div class="success-prompt-wrap">
               <p class="success-prompt-heading">Debit Cards
               </p><div class="success-prompt-prompt ">
                 <p>you do not have a debit card. If you wish, please contact our consultants to acquire one.</p>
               </div>
               
             </div>
           </div>
         </div>
       </div>
      </div>
   </template>
  </div>
</div>
    </main>
    <!-- Footer -->
    <footer class=" text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
         
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://co.linkedin.com/" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/lgar005" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
    
    
        <!-- Section: Text -->
        <section class="mb-4">
          <p>
              We provide quality services to ensure your financial well-being.
              we have at our disposal a dedicated and passionate team ready to accompany you when you need it most.
          </p>
        </section>
        <!-- Section: Text -->
    
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 >Founders</h6>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Carla Ramírez</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Diego Correa</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Antonio Casas</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Maria González </a>
                </li>
              </ul>
            </div>
  
            
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 >Services</h6>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Loans</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Transactions</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Financial advice</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Safety deposit boxes</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 >Bank branches</h6>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Nueva York</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Ottawa</a>
                </li>
                <li>
                  <a href="#!" class="text-white">London</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Oklahoma</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 >Contact us</h6>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">New York, NY 10012, US</a>
                </li>
                <li>
                  <a href="#!" class="text-white">mindhubBrothes@gmail.com</a>
                </li>
                <li>
                  <a href="#!" class="text-white"> + 01 234 567 88</a>
                </li>
                <li>
                  <a href="#!" class="text-white">+ 01 234 567 89</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 50 years of experience in the financial market
        <!--<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/cards.js"></script>
</body>
</html>