<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/92e84a8749.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/login.css">
    
    <title>Login | Ludiflex - youtube channel</title>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="container main">
                <div class="row">
                    <div class="col-md-6 side-image">
                        <!-------Image-------->
                        <div class="text">
                           <!-- <p>We support you at every stage of your life <i>- Mindhub Brothes Bank</i></p>-->
                        </div>
                    </div>
                    <div class="col-md-6 right">
                        <div class="input-box ">
                            <div class="logoLogin pb-3">
                                <a href="./index.html"><img class="sizeLogo" src="./img/LogoColor.png" alt=""></a>
                            </div>
                            <header>Log in to your account</header>
                            
                            <div class="input-field">
                                <input type="text" class="input" id="email" required autocomplete="off" v-model="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input type="password" class="input" id="password" required v-model="password">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field">
                                <input  id="btn1" type="button" class="submit" value="Log in " v-on:click="postLogin" >
                                
                            </div>
                            <div class="signin">
                                <span>New to Mindhub Brothers? <a href="./register.html">sign Up</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="./js/login.js"></script>
</body>
</html>