<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://kit.fontawesome.com/92e84a8749.js" crossorigin="anonymous"></script>
    <title>Manager</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand " href="#">
                    <img class="nav_logo logo" src="./img/image.png" alt="Logo"  /></a>
                <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center "
                    id="navbarNav">
                    <div class="navbar-nav nav_a d-flex align-items-center">
                
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main id="app" class="resposiveG">
        <img class="managerImage container d-flex justify-content-center" src="./img/Work time-amico.png" alt="manager">
        <div class=" d-flex  justify-content-around sizeResponsive">
           <div>
                <h2 class="text-center colorClientList">Client Manager</h2>
                <div class="login-box">
                    <form>
                        <h3>Client</h3>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="person"></ion-icon>
                            </span>
                            <input type="text"  id="name" v-model="firstName">
                            <label for="name" >Name</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><ion-icon name="person"></ion-icon></span>
                            <input type="text"  id="lastName" v-model="lastName">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><ion-icon name="mail"></ion-icon></span>
                            <input type="email"  id="email" v-model="email">
                            <label for="email" >Email</label>
                        </div>
                        <button class="buttonForm" type="button" @click="addClient">Add client</button>
                    </form>
                </div>
            </div>
            <div class="estileJS">
                </h2  class="text-center colorClientList">Client Rest Response</h2>
                <pre class="sizeJs">{{clients}}</pre>
            </div>
          
        </div>

        <!--Table-->
        <h2 class="text-center colorClientList mt-5">Client List</h2>
        <div class="container ">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered table- table-hover align-middle table-secondary">
                            <thead>
                            <tr>
                                <th class="col-4">First Name</th>
                                <th class="col-4">Last Name</th>
                                <th class="col-4">Email</th>
                            </tr>
                            </thead>
                            <tbody class="table-light">
                            <tr v-for="client of clients">
                                <td>{{client.firstName}}</td>
                                <td>{{client.lastName}}</td>
                                <td>{{client.email}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="d-flex justify-content-evenly flex-wrap mt-5">
            <section class="d-flex flex-column justify-content-start mt-3 redes">
                <h4 class="text_footer d-flex align-self-center">Social networks</h4>
                <ul class="social d-flex align-items-start flex-column">
                    <li class="fa-brands fa-instagram">
                        <a href="https://www.instagram.com">Instagram</a>
                    </li>
                    <li class="fa-brands fa-facebook">
                        <a href="https://www.facebook.com">Facebook</a>
                    </li>
                    <li class="fa-brands fa-whatsapp">
                        <a href="https://www.whatsapp.com">Whatsapp</a>
                    </li>
                    <li class="fa-brands fa-youtube">
                        <a href="https://youtube.com">Youtube</a>
                    </li>
                </ul>
            </section>
            <section class="d-flex flex-column align-items-center justify-content-start horarioC">
                <ul class="social d-flex align-items-start flex-column" style="list-style: none;">
                    <h4 class="text_footer d-flex">location</h4>
                    <li><h5 class="horario"> Address: Cl. 36 #7 - 47·</h5></li>
                    <li><h5 class="horario"> Schedule: <br> Monday to Friday: 7:00 to 19:00. <br>
                        Saturday: 8:00 to 17:00. <br> Sunday: 9:00 to 13:00</h5></li>
                </ul>
            </section>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/manager.js"></script>
</body>
</html>
